* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  background-color: #76491b;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

nav ul li a:hover,
nav ul li a:focus {
  background-color: #4f1f02;
}

.signup-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.signup-container h2 {
  font-size: 45px;
  color: #000000;
  margin-bottom: 10px;
}

.signup-container p {
  color: #666;
  margin-bottom: 20px;
}

/* Form element styles */
.signup-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  width: 80%;
  max-width: 400px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
  outline: none;
  border-color: #76491b;
}

.terms {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.terms input[type="checkbox"] {
  margin-right: 10px;
}

button {
  padding: 15px 30px;
  background-color: #76491b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

button:hover {
  background-color: #4f1f02;
}

.login-link {
  color: #76491b;
  text-decoration: none;
  margin-top: 15px;
}

.login-link a {
  color: #4f1f02;
  text-decoration: underline;
}

.login-link a:hover {
  color: #76491b;
}

footer {
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-container p {
  margin: 0;
  color: #333;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  margin-left: 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}


a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
